/* =========================
   2. VARIABLES (Design System)
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --text-color: #dedede;
  --bg-color: #111111;
  --green-color: #6eb684;
  --red-color: #ab5a62;
  --yellow-color: #d6c07d;
  --blue-color: #4f46e5;
  --gray-color: #272727;

  /* Font family */
  --font-family-base: "Sora", sans-serif;

  /* font size -> Typography with clamp()  */
  --font-xs: clamp(0.667rem, 0.8vw, 0.875rem); /* Small text: 2-4vw */
  --font-sm: clamp(0.785rem, 1vw, 1rem); /* Body text: 4-6vw */
  --font-md: clamp(1rem, 1.5vw, 1.5rem); /* Headings: 5-8vw */
  --font-lg: clamp(1.5rem, 2.5vw, 2rem); /* Headings: 5-8vw */
  --font-xl: clamp(2rem, 3vw, 3rem); /* Hero titles: 8-12vw */

  /* font-weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* font-height; */
  --line-height-normal: 1.2;
  --line-height-tight: 1.5;
  --line-height-loose: 1.7;

  /* Letter spacing */

  --letter-spacing-tight: -0.02em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.02em;
  --letter-spacing-wider: 0.05em;

  /* Spacing */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */

  /* Border radius */
  --radius: 8px;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora/static/Sora-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* =========================
   1. RESET / BASE
========================= */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}

button,
input,
textarea,
select {
  font: inherit;
}
/* =========================
   3. GLOBAL ELEMENTS
========================= */

button {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding: var(--space-sm) var(--space-md);
  background: var(--blue-color);
  color: white;
  font-size: var(--font-xs);
  line-height: var(--line-height-normal);
  cursor: pointer;
  border-radius: var(--radius);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
}

h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
}
p {
  max-width: 56ch;
  font-size: var(--font-md);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-wide);
}

dl,
dd {
  font-size: var(--font-sm);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}
/* =========================
   4. LAYOUT
========================= */

.container {
  width: min(1200px, 90%);
  margin-inline: auto;
  padding: var(--space-md);
}

/* =========================
   5. COMPONENTS
========================= */

.card {
  background: var(--bg-color);
  padding: var(--space-lg);
  border-radius: var(--radius);
}

/* =========================
   6. UTILITIES
========================= */

.center-item {
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  button {
    font-size: var(--font-sm);
  }
  dl {
    font-size: var(--font-sm);
  }
}
